html,body {
  font-family: 'Grantipo Beta 001', sans-serif;
  height: 100%;
  width: 100%;
  background: #f9f9f9;
}

* > * {
  font-family: 'Grantipo Beta 001', sans-serif;
  box-sizing: border-box;
}