.home-page {

}

.hero {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(https://images.pexels.com/photos/1640774/pexels-photo-1640774.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero .search-box h2 {
    font-size: 4rem;
    color: #000;
    margin-bottom: 1rem;
    margin-top: 0;
    text-shadow: 0 0 10px rgba(238, 211, 211, 0.5);
}

.hero .hero-search--container {
    background: #FFF;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    width: 50%;
    padding: 0 .25rem 0 .75rem;
}

.hero .hero-search {
    background: transparent;
    padding: .75rem .75rem;
    color: #333;
    border: none;
    font-size: 1.5rem;
    outline: none;
    transition: .345s ease all;
    flex-grow: 1;
}

.hero .hero-search--button {
    background: #62B93E;
    border-radius: 4px;
    border: none;
    height: 100%;
    color: #FFF;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
}

.hero .hero-search--container:focus {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.15);
}

